---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			.flip-text {
				display: inline-block;
				animation: flip 5s linear infinite;
			}
			@keyframes flip {
				0% {
					transform: rotateY(0deg);
				}
				50% {
					transform: rotateY(180deg);
				}
				100% {
					transform: rotateY(360deg);
				}
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<!-- <h1>W.I.T.S<span class="flip-text">?</span></h1> -->
			<h2>what is this shit?</h2>
			<p>
				This will be my personal website. I'm not sure what I'll use it for yet, but I'll figure it out as I go along.
			</p>
		</main>
		<Footer />
	</body>
</html>
